/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Nunito+Sans:wght@300&family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #05003f, #060545, #0a084b, #0f0b52, #140d58);
}

.Logo {
  width: 80px;
  height: 60px;
}

.Section-Imi, .Section-Imi-Profesional {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../image/medico.jpeg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.Section-Imi .Imi, .Section-Imi-Profesional .Imi {
  margin: 10px;
}
.Section-Imi .Imi .img-fluid, .Section-Imi-Profesional .Imi .img-fluid {
  width: 80vh;
  height: 70vh;
}

.Imi2 {
  margin: 10px;
}
.Imi2 h1 {
  font-size: 50px;
  font-family: Lato;
  color: rgb(239, 110, 29);
}
.Imi2 h2, .Imi2 .Main-Trasladarte .Planes h4, .Main-Trasladarte .Planes .Imi2 h4, .Imi2 .Main-Trasladarte .Trasladarte-Servicios h3, .Main-Trasladarte .Trasladarte-Servicios .Imi2 h3, .Imi2 .Main-Trasladarte .Trasladarte-Servicios .En-Vivo h4, .Main-Trasladarte .Trasladarte-Servicios .En-Vivo .Imi2 h4, .Imi2 .En-Vivo .Main-Trasladarte .Trasladarte-Servicios h4, .En-Vivo .Main-Trasladarte .Trasladarte-Servicios .Imi2 h4 {
  font-size: 45px;
  font-family: Quicksand;
  color: rgb(239, 110, 29);
}
.Imi2 p, .Imi2 .Main-Trasladarte .Trasladarte-Servicios p, .Main-Trasladarte .Trasladarte-Servicios .Imi2 p {
  font-size: 35px;
  font-family: Nunito;
  color: rgb(105, 105, 211);
}

.Main-Inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
.Main-Inicio .Main-Inicio-Div1 {
  margin: 20px;
}
.Main-Inicio .Main-Inicio-Div1 .img-fluid {
  width: 75vh;
  height: 60vh;
  box-shadow: 0 0 25px #3553c2;
  border-radius: 10% 10% 10% 10%;
  transition: filter 0.3 ease;
}
.Main-Inicio .Main-Inicio-Div1 .img-fluid:hover {
  filter: brightness(70%);
}

.Main-Inicio-Div2 h3, .Main-Inicio-Div2 .En-Vivo h4, .En-Vivo .Main-Inicio-Div2 h4 {
  font-size: 25px;
  font-family: Quicksand;
  color: rgb(239, 110, 29);
}
.Main-Inicio-Div2 p, .Main-Inicio-Div2 .Main-Trasladarte .Trasladarte-Servicios p, .Main-Trasladarte .Trasladarte-Servicios .Main-Inicio-Div2 p {
  font-size: 20px;
  font-family: Nunito;
  color: rgb(245, 217, 217);
}
.Main-Inicio-Div2 ul li {
  font-family: Nunito;
  font-size: 16px;
  color: rgb(245, 217, 217);
}

.Datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  width: 90%;
  height: 20vh;
  box-shadow: 0 0 25px #7586c2;
  border-radius: 10% 10% 0 0;
  margin-left: 20px;
  margin-bottom: 20px;
}
.Datos .Turnos h4, .Datos .Turnos3 h4, .Datos .Turnos2 h4 {
  color: rgb(245, 217, 217);
  margin-right: 20px;
  font-size: 20px;
  font-family: Quicksand;
}
.Datos .Turnos h4 p, .Datos .Turnos3 h4 p, .Datos .Turnos2 h4 p {
  margin: 20px;
  font-size: 20px;
  font-family: Nunito;
}
.Tecnologia-Texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Tecnologia-Texto h3, .Tecnologia-Texto .En-Vivo h4, .En-Vivo .Tecnologia-Texto h4 {
  color: white;
  font-size: 30px;
  font-family: Nunito;
}
.Tecnologia-Texto p, .Tecnologia-Texto .Main-Trasladarte .Trasladarte-Servicios p, .Main-Trasladarte .Trasladarte-Servicios .Tecnologia-Texto p {
  color: white;
}

.Tecnologia-Img, .Tecnologia-Img2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  transition: 1.5s;
  object-fit: cover;
}
.Tecnologia-Img .Img-fluid, .Tecnologia-Img2 .Img-fluid {
  width: 35vh;
  height: 200px;
  margin: 20px;
}

.Tecnologia-Img :hover, .Tecnologia-Img2 :hover {
  transform: scale(1.1);
}

.Profesionales-Inicio .Img-fluid, #Header-Profesional .Img-fluid, #Header-Estudios .Img-fluid, #Header-Inicio .Img-fluid {
  width: 100%;
  height: 500px;
}

.Aptos-Medicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.Aptos-Medicos .Separador h4 {
  font-size: 60px;
  color: rgb(245, 217, 217);
  font-family: Quicksand;
}

.Chequeos .Img-Chequeos {
  width: 100%;
  height: 100%;
  transition: filter 0.3 ease;
}
.Chequeos .Img-Chequeos:hover {
  filter: brightness(70%);
}

.Ubicacion-Inicio h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  font-family: Quicksand;
  color: rgb(239, 110, 29);
  padding-top: 20px;
}
.Ubicacion-Inicio .Mapa iframe {
  width: 100%;
  height: 300px;
}

/*Estudios*/
.Img-Estudios {
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 15px rgb(239, 110, 29);
  transition: 0.5s;
  object-fit: cover;
  transition: filter 0.3 ease;
}

.Img-Estudios:hover {
  transform: scale(1.1);
  filter: brightness(70%);
}

.En-Vivo h3, .En-Vivo h4 {
  display: flex;
  justify-content: center;
  color: rgb(239, 110, 29);
  font-size: 50px;
  font-family: Quicksand;
}
.En-Vivo h4 {
  font-size: 32px;
  font-family: Quicksand;
}

/*Nosotros*/
.Titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
  font-family: Quicksand;
  color: rgb(239, 110, 29);
  margin: 10px;
}

.Historia h1, .Que-Ofrecemos h1, .Mision h1 {
  font-size: 25px;
  font-family: Quicksand;
  color: rgb(239, 110, 29);
  margin: 10px;
}
.Historia p, .Historia .Main-Trasladarte .Trasladarte-Servicios p, .Main-Trasladarte .Trasladarte-Servicios .Historia p, .Que-Ofrecemos p, .Que-Ofrecemos .Main-Trasladarte .Trasladarte-Servicios p, .Main-Trasladarte .Trasladarte-Servicios .Que-Ofrecemos p, .Mision p, .Mision .Main-Trasladarte .Trasladarte-Servicios p, .Main-Trasladarte .Trasladarte-Servicios .Mision p {
  font-size: 20px;
  font-family: Nunito;
  color: rgb(245, 217, 217);
}
.Historia .img-fluid, .Que-Ofrecemos .img-fluid, .Mision .img-fluid {
  width: 100%;
  height: 60vh;
  box-shadow: 0 0 25px #3553c2;
  border-radius: 2% 2% 2% 2%;
  transition: filter 0.3 ease;
}
.Historia .img-fluid:hover, .Que-Ofrecemos .img-fluid:hover, .Mision .img-fluid:hover {
  filter: brightness(70%);
}

.Mision h2, .Mision .Main-Trasladarte .Planes h4, .Main-Trasladarte .Planes .Mision h4, .Mision .Main-Trasladarte .Trasladarte-Servicios h3, .Main-Trasladarte .Trasladarte-Servicios .Mision h3, .Mision .Main-Trasladarte .Trasladarte-Servicios .En-Vivo h4, .Main-Trasladarte .Trasladarte-Servicios .En-Vivo .Mision h4, .Mision .En-Vivo .Main-Trasladarte .Trasladarte-Servicios h4, .En-Vivo .Main-Trasladarte .Trasladarte-Servicios .Mision h4 {
  font-size: 25px;
  font-family: Quicksand;
  color: rgb(239, 110, 29);
  margin: 10px;
}

.Que-Ofrecemos h3, .Que-Ofrecemos .En-Vivo h4, .En-Vivo .Que-Ofrecemos h4 {
  font-size: 25px;
  font-family: Quicksand;
  color: rgb(239, 110, 29);
  margin: 10px;
}

/*Profesionales*/
.Main-Profesionales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Main-Profesionales .Section-Profesionales {
  width: 50%;
  height: 100%;
  background-color: rgb(245, 217, 217);
  margin-bottom: 20px;
}
.Main-Profesionales .Section-Profesionales .Container-Profesionales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: #002583;
}
.Main-Profesionales .Section-Profesionales .Container-Profesionales .Info {
  color: #f2f4f8;
  font-size: 25px;
}
.Main-Profesionales .Section-Profesionales .Container-Profesionales .Recomendaciones {
  color: aqua;
  font-size: 20px;
}
.Main-Profesionales .Section-Profesionales .Container-Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.Main-Profesionales .Section-Profesionales .Container-Info .Doctor {
  width: 20%;
  height: 30%;
}

.Main-Trasladarte {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  margin: 20px;
}
.Main-Trasladarte .Emergencias, .Main-Trasladarte .Planes, .Main-Trasladarte .Trasladarte-Servicios {
  margin-bottom: 30px;
}
.Main-Trasladarte .Emergencias h2, .Main-Trasladarte .Planes h2, .Main-Trasladarte .Planes h4, .Main-Trasladarte .Trasladarte-Servicios h2, .Main-Trasladarte .Trasladarte-Servicios h3, .Main-Trasladarte .Trasladarte-Servicios .En-Vivo h4, .En-Vivo .Main-Trasladarte .Trasladarte-Servicios h4 {
  color: rgb(239, 110, 29);
  font-family: Quicksand;
  font-size: 30px;
}
.Main-Trasladarte .Emergencias p, .Main-Trasladarte .Planes p, .Main-Trasladarte .Trasladarte-Servicios p {
  color: rgb(245, 217, 217);
  font-family: Nunito;
  font-size: 25px;
}
.Main-Trasladarte .Emergencias .Img-Emergencias, .Main-Trasladarte .Planes .Img-Emergencias, .Main-Trasladarte .Trasladarte-Servicios .Img-Emergencias {
  width: 100px;
  height: 40px;
}
.Main-Trasladarte .Trasladarte-Servicios li {
  color: rgb(245, 217, 217);
  font-family: Nunito;
  font-size: 25px;
  list-style-type: none;
}
.Main-Trasladarte .Planes p {
  color: rgb(239, 110, 29);
}
.Main-Trasladarte .Planes li {
  color: rgb(245, 217, 217);
  font-family: Nunito;
  font-size: 25px;
  list-style-type: none;
}

/*Selector id*/
#Header-Inicio {
  opacity: 0.9;
}
#Header-Inicio .Section-Imi, #Header-Inicio .Section-Imi-Profesional {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../image/Medico.jpeg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#Header-Inicio .Section-Imi .Imi, #Header-Inicio .Section-Imi-Profesional .Imi {
  margin: 10px;
}
#Header-Inicio .Section-Imi .Imi .img-fluid, #Header-Inicio .Section-Imi-Profesional .Imi .img-fluid {
  width: 80vh;
  height: 70vh;
}
#Header-Inicio .Imi2 {
  margin: 10px;
}
#Header-Inicio .Imi2 h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 60px;
  font-family: Nunito;
  color: rgb(239, 110, 29);
  padding-top: 100px;
}
#Header-Inicio .Imi2 h2, #Header-Inicio .Imi2 .Main-Trasladarte .Trasladarte-Servicios h3, .Main-Trasladarte .Trasladarte-Servicios #Header-Inicio .Imi2 h3, #Header-Inicio .Imi2 .Main-Trasladarte .Trasladarte-Servicios .En-Vivo h4, .Main-Trasladarte .Trasladarte-Servicios .En-Vivo #Header-Inicio .Imi2 h4, #Header-Inicio .Imi2 .En-Vivo .Main-Trasladarte .Trasladarte-Servicios h4, .En-Vivo .Main-Trasladarte .Trasladarte-Servicios #Header-Inicio .Imi2 h4, #Header-Inicio .Imi2 .Main-Trasladarte .Planes h4, .Main-Trasladarte .Planes #Header-Inicio .Imi2 h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  font-family: Nunito;
  color: rgb(239, 110, 29);
  padding-top: 20px;
}
#Header-Inicio .Imi2 p {
  font-size: 35px;
  font-family: Nunito;
  color: rgb(105, 105, 211);
}

#Header-Estudios {
  opacity: 0.9;
}
#Header-Estudios .Section-Header-Estudios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../image/Header-Estudios-kebab-case.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#Header-Estudios .Section-Header-Estudios .Imi {
  margin: 10px;
}
#Header-Estudios .Section-Header-Estudios .Imi .img-fluid {
  width: 80vh;
  height: 70vh;
}
#Header-Estudios .Estudios2 {
  margin: 10px;
}
#Header-Estudios .Estudios2 h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 60px;
  font-family: Nunito;
  color: rgb(239, 110, 29);
  padding-top: 100px;
}
#Header-Estudios .Estudios2 h2, #Header-Estudios .Estudios2 .Main-Trasladarte .Trasladarte-Servicios h3, .Main-Trasladarte .Trasladarte-Servicios #Header-Estudios .Estudios2 h3, #Header-Estudios .Estudios2 .Main-Trasladarte .Trasladarte-Servicios .En-Vivo h4, .Main-Trasladarte .Trasladarte-Servicios .En-Vivo #Header-Estudios .Estudios2 h4, #Header-Estudios .Estudios2 .En-Vivo .Main-Trasladarte .Trasladarte-Servicios h4, .En-Vivo .Main-Trasladarte .Trasladarte-Servicios #Header-Estudios .Estudios2 h4, #Header-Estudios .Estudios2 .Main-Trasladarte .Planes h4, .Main-Trasladarte .Planes #Header-Estudios .Estudios2 h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  font-family: Nunito;
  color: rgb(239, 110, 29);
  padding-top: 20px;
}
#Header-Estudios .Estudios2 p {
  font-size: 35px;
  font-family: Nunito;
  color: rgb(105, 105, 211);
}

#Header-Trasladarte {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 50px;
}
#Header-Trasladarte .img-fluid {
  width: 100%;
  height: 400px;
}

#Header-Nosotros {
  width: 100%;
  height: 400px;
  opacity: 0.9;
}
#Header-Nosotros .Section-Imi-Nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../image/Imi-Header-Nosotros.jpeg) no-repeat center center fixed;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

#Header-Profesional {
  opacity: 0.9;
}
#Header-Profesional .Section-Imi-Profesional {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../image/Header-Profesionales.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#Header-Profesional .Section-Imi-Profesional .Profesional2 {
  margin: 10px;
}
#Header-Profesional .Section-Imi-Profesional .Profesional2 h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 60px;
  font-family: Nunito;
  color: rgb(239, 110, 29);
  padding-top: 100px;
}
#Header-Profesional .Section-Imi-Profesional .Profesional2 h2, #Header-Profesional .Section-Imi-Profesional .Profesional2 .Main-Trasladarte .Trasladarte-Servicios h3, .Main-Trasladarte .Trasladarte-Servicios #Header-Profesional .Section-Imi-Profesional .Profesional2 h3, #Header-Profesional .Section-Imi-Profesional .Profesional2 .Main-Trasladarte .Trasladarte-Servicios .En-Vivo h4, .Main-Trasladarte .Trasladarte-Servicios .En-Vivo #Header-Profesional .Section-Imi-Profesional .Profesional2 h4, #Header-Profesional .Section-Imi-Profesional .Profesional2 .En-Vivo .Main-Trasladarte .Trasladarte-Servicios h4, .En-Vivo .Main-Trasladarte .Trasladarte-Servicios #Header-Profesional .Section-Imi-Profesional .Profesional2 h4, #Header-Profesional .Section-Imi-Profesional .Profesional2 .Main-Trasladarte .Planes h4, .Main-Trasladarte .Planes #Header-Profesional .Section-Imi-Profesional .Profesional2 h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  font-family: Nunito;
  color: rgb(239, 110, 29);
  padding-top: 20px;
}
#Header-Profesional .Section-Imi-Profesional .Profesional2 p {
  font-size: 35px;
  font-family: Nunito;
  color: rgb(105, 105, 211);
}

#Servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 150px;
}
#Servicios .servi1, #Servicios .servi4, #Servicios .servi3, #Servicios .servi2 {
  max-width: 310px;
  height: 151px;
  margin-bottom: 80px;
  margin-top: 150px;
}
#Servicios .servi1 .card-img-top, #Servicios .servi4 .card-img-top, #Servicios .servi3 .card-img-top, #Servicios .servi2 .card-img-top {
  width: 100%;
  height: 20vh;
}
#Servicios .servi1 .card-body, #Servicios .servi4 .card-body, #Servicios .servi3 .card-body, #Servicios .servi2 .card-body {
  width: 100%;
  height: 20vh;
}
.alphabet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.alphabet .alphabet li {
  display: inline;
  margin-right: 10px;
}

.content {
  margin-top: 20px;
}

#Footer-Inicio {
  margin: 40px;
  display: flex;
  justify-content: space-evenly;
}
#Footer-Inicio h5 {
  color: rgb(239, 110, 29);
  margin-bottom: 10px;
  font-family: Quicksand;
}
#Footer-Inicio .Ultimo li {
  color: rgb(245, 217, 217);
  justify-content: center;
  font-family: Nunito;
}
#Footer-Inicio .Ultimo li:hover {
  color: rgb(239, 110, 29);
}
#Footer-Inicio .Ultimo .Img-Ayuda {
  width: 50px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
